body {
	width: 800px;
	margin: 0 auto;
    background-color: darkgray;
    margin-top: 80px;
}

textarea {
	width:800px;
	padding:0;
}

.placeholderstuff{
    background-color: #191616;
    color: #EAEAFB;
    height: 300px;
}

.canvas-wrapper {
	position:relative;
	width:800px;
	height:600px;
}

.main-menu, .level-select{
	position:absolute;
	top: 0px;
	color:white;
	width: 100%;
	text-align: center;
	width:800px;
	height:600px;
	//background-color: #191616;
}

.level-select{
	background-color: #191616;
}

.main-menu h1 {
	width:100%;
	font-size: 5em;
}

.credits{
	position:absolute;
	top: 0px;
	color:white;
	width: 100%;
	text-align: center;
	width:800px;
	height:600px;
	background-color: #191616;
}

button{
    padding: 5px;
    margin: 5px;
}

audio{
	position: absolute;
    bottom: 0;
}
ul {
	list-style-type: none;
    padding: 0;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-bottom: 20px solid blue;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid blue;
}

.circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
      position: relative;
      display:inline-block;
      margin: 35px;
    }

.subtitle{
	position: absolute;
    top: -20px;
}