<!DOCTYPE html>
<html lang="en" ng-app="optiverse">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" type="text/css" href="css/site.css" media="screen" />
</head>

<body>
    <div class="canvas-wrapper" ng-controller="menuCtrl as ctrl">
        <canvas id="gameCanvas" width="800" height="600" ng-show="ctrl.showCanvas">
        </canvas>
        <canvas id="cutSceneCanvas" width="800" height="600" ng-show="ctrl.showCutScene">
        </canvas>
        <button ng-click="ctrl.goToMenu()" ng-show="ctrl.showCanvas" class="game-back"> back </button>
        <div ng-if="ctrl.showCredits" class="credits">
            <h1>Credits</h1>
            <br/>
            <img src="images/spaceshiphd.png" style="height: 350px; float:right;">
            <ul>
                <li>Erik Verlage - Project Lead, Programming (game mechanics)</li>
                <li>Andreas Lathe - Programming (level editor)</li>
                <li>Marcus Silva - Programming (title menu)</li>
                <li>Dionell Macabugao - Artwork (sprites)</li>
                <li>Jeremy Kenyon - Artwork (background)</li>
                <li>Chris Deleon - Programming (cutscenes, start of editor)</li>
                <li>Thomas Kresge - Sound Effects and Tracks</li>
                <li>JL Evans - Story</li>
                <li> &mdash; </li>
                <li>Level Design: Tim Waskett (10, Internal Reflection; 10, Mixed Mechanics), Erik Verlage (8, Tutorial),  Marcus Silva (1, Curves), Dan Lazar (1, Reflection Brings Two Together)</li>
            </ul>
            <button ng-click="ctrl.goToMenu()"> Back </button>
        </div>
        <div class="main-menu" ng-if="ctrl.showMenu">
            <img src="images/Optiverse_Logo.png">
            <br/>
            <!-- <div>
                <button ng-repeat="(key, value) in ctrl.levels" ng-click="ctrl.load(value)">{{key}} </button>
            </div> -->
            <div ng-click="ctrl.showLevels()" class="play highlight">Play</div>
            <br/>
            <div ng-click="ctrl.showEditor()" class="highlight">Level Editor </div>
            <br/>
            <div ng-click="ctrl.goToCredits()" class="highlight">Credits</div>
            <!-- <button onclick="reflect_sound.currentTime = 0; reflect_sound.play()">reflect </button> -->

            <!-- <pre>{{ctrl | json}}</pre> -->
        </div>

        <div class="level-select" ng-if="ctrl.showlevels">
            <img src="images/Optiverse_Logo.png">
            <div>
                
                <h2>{{ctrl.currentSeries}}</h2>
                <a class="left-wrap" href="#" ng-click="ctrl.decSeries()">
                    <div class="arrow-up" ></div>
                </a>
                <div>

                    <div class="circle" ng-repeat="(key, value) in ctrl.series[ctrl.currentSeries]" ng-click="ctrl.load(value)">
                        <div class="subtitle">{{key}} </div>
                    </div>
                </div>
                <a class="right-wrap" href="#" ng-click="ctrl.incSeries()">
                    <div class="arrow-down"></div>
                </a>
                <button ng-click="ctrl.goToMenu()"> back </button>
            </div>
            <!-- <button onclick="reflect_sound.currentTime = 0; reflect_sound.play()">reflect </button> -->


        </div>
        <audio controls autoplay id="intro">
          <source src="audio/energypop.ogg" type="audio/ogg">
          <source src="audio/energypop.mp3" type="audio/mpeg">
          Your browser does not support the audio tag.
        </audio>
        <audio id="eerie">
          <source src="audio/eerie.ogg" type="audio/ogg">
          <source src="audio/eerie.mp3" type="audio/mpeg">
          Your browser does not support the audio tag.
        </audio>
        

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="menuCtrl.js"></script>
    <script src="imagecode.js"></script>
    <script src="Graphic.js"></script>
    <script src="level2.js"></script>
    <script src="openingsequence.js"></script>
    <script src="input.js"></script>
    <script src="optics_helper.js"></script>
    <script src="optics.js"></script>
    <script src="leveleditor.js"></script>
    <script src="jukebox.js"></script>
    <script src="main.js"></script>
    <script src="levels/level_A_bigblox_1.js"></script>
    <script src="levels/level_B__series-ItTakes2.js"></script>
    <script src="levels/Marcus Levels/Level1 Curves.js"></script>
    <script src="levels/Erik Levels/Level_A_intro_01_core.js"></script>
    <script src="levels/Erik Levels/Level_A_intro_02_mirror1.js"></script>
    <script src="levels/Erik Levels/Level_A_intro_03_mirror2.js"></script>
    <script src="levels/Erik Levels/Level_A_intro_04_mirror3.js"></script>
    <script src="levels/Erik Levels/Level_A_intro_05_mirror4.js"></script>
    <script src="levels/Erik Levels/Level_A_intro_06_lens1.js"></script>
    <script src="levels/Erik Levels/Level_A_intro_07_lens2.js"></script>
    <script src="levels/Erik Levels/Level_A_intro_08_lens3.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_01.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_02.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_03.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_04.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_05.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_06.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_07.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_08.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_09.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_01.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_02.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_03.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_04.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_05.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_06.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_07.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_08.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_09.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_10.js"></script>
    <script src="levels/Erik Levels/Level_A_intro_01_core.js"></script>

    <audio id="reflect">
      <source src="audio/laserbounceoffmirror.ogg" type="audio/ogg">
      <source src="audio/laserbounceoffmirror.mp3" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
    <audio id="fireLaser">
      <source src="audio/firelaser.ogg" type="audio/ogg">
      <source src="audio/firelaser.mp3" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
    <audio id="refract">
      <source src="audio/lasergoingthroughlens.ogg" type="audio/ogg">
      <source src="audio/lasergoingthroughlens.mp3" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
    <audio id="lvlFinished">
      <source src="audio/levelfinished.ogg" type="audio/ogg">
      <source src="audio/levelfinished.mp3" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
    <audio id="lvlFailed">
      <source src="audio/levelfailed.ogg" type="audio/ogg">
      <source src="audio/levelfailed.mp3" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
    <div>

        

        
        <!-- <div class="placeholderstuff"> stuff stuff stuff stuff stuff stufff </div> -->
        <textarea rows="3" cols="102" id="levelTextfield" ng-if="ctrl.LevelEditor.canEdit">
            Paste level data from saved text file here to load it
        </textarea>

        
        <!-- <button type="button" onclick="LoadTextfield()">Load It</button> -->
    </div>
</body>

</html>
