<!DOCTYPE html>
<html lang="en" ng-app="optiverse">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" type="text/css" href="css/site.css" media="screen" />
</head>

<body>
    <div class="canvas-wrapper" ng-controller="menuCtrl as ctrl">
        <canvas id="gameCanvas" width="800" height="600" ng-show="ctrl.showCanvas">
        </canvas>
        <canvas id="cutSceneCanvas" width="800" height="600" ng-show="ctrl.showCutScene">
        </canvas>
        <div ng-if="ctrl.showCredits" class="credits">
            <h1>Credits</h1>
            <br/>
            <ul>
                <li>Erik Verlage - Project Lead, Programming (game mechanics)</li>
                <li>Andreas Lathe - Programming (level editor)</li>
                <li>Marcus Silva - Programming (title menu)</li>
                <li>Dionell Macabugao - Artwork (sprites)</li>
                <li>Jeremy Kenyon - Artwork (background)</li>
                <li>Chris Deleon - Programming</li>
                <li>Thomas Kresge - Sound Effects and Tracks</li>
                <li>Jo Leigh - Story</li>
                <li> &mdash; </li>
                <li>Level Design: Erik Verlage,  Andreas Lathe,  Marcus Silva,  Tim Waskett,  Dan Lazar. </li>
            </ul>
            <button ng-click="ctrl.goToMenu()"> Back </button>
        </div>
        <div class="main-menu" ng-if="ctrl.showMenu">
            <h1>Optiverse</h1>
            <br/>
            <!-- <div>
                <button ng-repeat="(key, value) in ctrl.levels" ng-click="ctrl.load(value)">{{key}} </button>
            </div> -->
            <button ng-click="ctrl.showLevels()">Play</button>
            <br/>
            <button ng-click="ctrl.showEditor()">Level Editor </button>
            <br/>
            <button ng-click="ctrl.goToCredits()">credits </button>
            <!-- <button onclick="reflect_sound.currentTime = 0; reflect_sound.play()">reflect </button> -->

            <!-- <pre>{{ctrl | json}}</pre> -->
        </div>

        <div class="level-select" ng-if="ctrl.showlevels">
            <h1>Optiverse</h1>
            <br/>
            <a href="#" ng-click="ctrl.decSeries()">
                <div class="arrow-up" ></div>
            </a>
            <br />
            <h2>{{ctrl.currentSeries}}</h2>
            <div>

                <div class="circle" ng-repeat="(key, value) in ctrl.series[ctrl.currentSeries]" ng-click="ctrl.load(value)">
                    <div class="subtitle">{{key}} </div>
                </div>
            </div>
            <a href="#" ng-click="ctrl.incSeries()">
                <div class="arrow-down"></div>
            </a>
            <!-- <button onclick="reflect_sound.currentTime = 0; reflect_sound.play()">reflect </button> -->

            <pre>{{series | json}}</pre>
        </div>
        <audio controls autoplay loop id="intro">
          <source src="audio/Energy Pop.ogg" type="audio/ogg">
          <source src="audio/Energy Pop.mp3" type="audio/mpeg">
          Your browser does not support the audio tag.
        </audio>

    </div>
    <script src="audio.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="menuCtrl.js"></script>
    <script src="imagecode.js"></script>
    <script src="Graphic.js"></script>
    <script src="level2.js"></script>
    <script src="openingsequence.js"></script>
    <script src="input.js"></script>
    <script src="optics_helper.js"></script>
    <script src="optics.js"></script>
    <script src="leveleditor.js"></script>
    <script src="main.js"></script>
    <script src="levels/level_A_bigblox_1.js"></script>
    <script src="levels/level_B__series-ItTakes2.js"></script>
    <script src="levels/Marcus Levels/Level1 Curves.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_01.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_02.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_03.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_04.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_05.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_06.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_07.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_08.js"></script>
    <script src="levels/Tim Levels/Level_D_total_internal_reflection_09.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_01.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_02.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_03.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_04.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_05.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_06.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_07.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_08.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_09.js"></script>
    <script src="levels/Tim Levels/Level_E_mixed_mechanics_10.js"></script>

    <audio id="reflect">
      <source src="audio/Laser bounce off mirror.ogg" type="audio/ogg">
      <source src="audio/Laser bounce off mirror.mp3" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
    <audio id="refract">
      <source src="audio/Laser going through lens.ogg" type="audio/ogg">
      <source src="audio/Laser going through lens.mp3" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
    <audio id="lvlFinished">
      <source src="audio/Level finished.ogg" type="audio/ogg">
      <source src="audio/Level finished.mp3" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
    <audio id="lvlFailed">
      <source src="audio/Level failed.ogg" type="audio/ogg">
      <source src="audio/Level failed.mp3" type="audio/mpeg">
      Your browser does not support the audio tag.
    </audio>
    <div>

        

        
        <!-- <div class="placeholderstuff"> stuff stuff stuff stuff stuff stufff </div> -->
        <textarea rows="3" cols="102" id="levelTextfield">
            Paste level data from saved text file here to load it
        </textarea>

        
        <!-- <button type="button" onclick="LoadTextfield()">Load It</button> -->
    </div>
</body>

</html>
